*
!.gitignore
!.my_aliases.sh
!.bash_aliases
!.bashrc
!.config/flake8
!.config/vlc/vlcrc
!.inputrc
!.latexmkrc
!.tmux.conf
!.vim/UltiSnips/*.snippets
!.vim/ftplugin/python.vim
!.vimrc
!.xinitrc
!.zshrc
!.README.md
!.tips.md
!.printerconfig/CD1242.PPD
!.work.sh
!./ssh/config
