*
!.gitignore
!.my_aliases.sh
!.bash_aliases
!.bashrc
!.config/flake8
!.config/vlc/vlcrc
!.inputrc
!.latexmkrc
!.tmux.conf
!.vim/UltiSnips/tex.snippets
!.vim/UltiSnips/markdown.snippets
!.vim/UltiSnips/m3u.snippets
!.vim/ftplugin/python.vim
!.vimrc
!.xinitrc
!.zshrc
!.README.md
!.tips.md
!.work.sh
!.xournal/config
